{% extends 'landing/landing-page.html' %}
{% load static %}
{% block content %}
    <div data-bs-spy="scroll" class="scrollspy-example">

        <section id="landingContact" class="section-py bg-body landing-contact">
            <div class="container">
                <div class="text-center mb-4">
                    <span class="badge bg-label-primary">Biz bilan bog'lanish</span>
                </div>
                <h4 class="text-center mb-1">
        <span class="position-relative fw-extrabold z-1">Birga
          <img src="{% static 'assets/img/front-pages/icons/section-title-icon.png' %}" alt="laptop charging"
               class="section-title-img position-absolute object-fit-contain bottom-0 z-n1">
        </span>
                    ishlaylik
                </h4>
                <p class="text-center mb-12 pb-md-4">Har qanday savol yoki izoh? shunchaki bizga xabar yozing</p>
                <div class="row g-6">
                    <div class="col-lg-5">
                        <div class="contact-img-box position-relative border p-2 h-100">
                            <img src="{% static 'assets/img/front-pages/icons/contact-border.png' %}" alt="contact border"
                                 class="contact-border-img position-absolute d-none d-lg-block scaleX-n1-rtl">
                            <img src="{% static 'assets/img/front-pages/landing-page/contact-customer-service.png' %}"
                                 alt="contact customer service" class="contact-img w-100 scaleX-n1-rtl">
                            <div class="p-4 pb-2">
                                <div class="row g-4">
                                    <div class="col-md-6 col-lg-12 col-xl-6">
                                        <div class="d-flex align-items-center">
                                            <div class="badge bg-label-primary rounded p-1_5 me-3"><i
                                                    class="ti ti-mail ti-lg"></i></div>
                                            <div>
                                                <p class="mb-0">Elektron pochta</p>
                                                <h6 class="mb-0"><a href="mailto:izzatbekulkanov@gmail.com"
                                                                    class="text-heading">izzatbekulkanov@gmail.com</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-12 col-xl-6">
                                        <div class="d-flex align-items-center">
                                            <div class="badge bg-label-success rounded p-1_5 me-3"><i
                                                    class="ti ti-phone-call ti-lg"></i></div>
                                            <div>
                                                <p class="mb-0">Telefon</p>
                                                <h6 class="mb-0"><a href="tel:+998-94-704-00-10" class="text-heading">+998 94 704 00 10</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="mb-2">Xabar yuboring</h4>
                                <p class="mb-6">
                                    Agar siz to'lov, hisob, litsenziyalash bilan bog'liq narsalarni muhokama qilmoqchi bo'lsangiz,<br
                                        class="d-none d-lg-block">
                                    hamkorlik qilish yoki sotishdan oldingi savollaringiz bo'lsa, siz to'g'ri joydasiz.
                                </p>
                                <form>
                                    <div class="row g-4">
                                        <div class="col-md-6">
                                            <label class="form-label" for="contact-form-fullname">To'liq ism</label>
                                            <input type="text" class="form-control" id="contact-form-fullname"
                                                   placeholder="Izzatbek Ulkanov">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="contact-form-email">Elektron pochta</label>
                                            <input type="text" id="contact-form-email" class="form-control"
                                                   placeholder="example@namspi.uz">
                                        </div>
                                        <div class="col-12">
                                            <label class="form-label" for="contact-form-message">Xabar</label>
                                            <textarea id="contact-form-message" class="form-control" rows="7"
                                                      placeholder="Xabar yozing"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light">So'rov yuboring
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock content %}