{% extends 'landing/landing-page.html' %}
{% load static %}
{% block content %}
    <div data-bs-spy="scroll" class="scrollspy-example">
    
    <!-- FAQ: Start -->
    <section id="landingFeatures" class="section-py landing-features landing-reviews">
  <div class="container">
    <div class="text-center mb-4">
      <span class="badge bg-label-primary">Useful Features</span>
    </div>
    <h4 class="text-center mb-1">
      <span class="position-relative fw-extrabold z-1">Imtihonga oid barcha zaruratlarni
        <img src="{% static 'assets/img/front-pages/icons/section-title-icon.png' %}" alt="laptop charging" class="section-title-img position-absolute object-fit-contain bottom-0 z-n1">
      </span>
      dasturini boshlash uchun
    </h4>
    <p class="text-center mb-12">Ushbu tayyorlovchi dastur ishlab chiqilgan konseptual dasturlash ilovasini o'z ichiga oladi.</p>
    <div class="features-icon-wrapper row gx-0 gy-6 g-sm-12">
      <div class="col-lg-4 col-sm-6 text-center features-icon-box">
        <div class="text-center mb-4">
          <img src="{% static 'assets/img/front-pages/icons/laptop.png' %}" alt="laptop charging">
        </div>
        <h5 class="mb-2">Sifatli Kod</h5>
        <p class="features-icon-description">Barcha dasturchilar tomonidan oson tushuniladigan va sevimli bo'ladigan kod struktura.</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center features-icon-box">
        <div class="text-center mb-4">
          <img src="{% static 'assets/img/front-pages/icons/rocket.png' %}" alt="transition up">
        </div>
        <h5 class="mb-2">Doimiy Yangilanishlar</h5>
        <p class="features-icon-description">Keyingi 12 oy davomida bepul yangilanishlar, yangi demo va imkoniyatlarning ichiga oladi.</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center features-icon-box">
        <div class="text-center mb-4">
          <img src="{% static 'assets/img/front-pages/icons/paper.png' %}" alt="edit">
        </div>
        <h5 class="mb-2">Boshlanish Kitobi</h5>
        <p class="features-icon-description">Noto'g'ri xususiyatlar olib tashlab, loyiha boshlash uchun tez boshlang.</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center features-icon-box">
        <div class="text-center mb-4">
          <img src="{% static 'assets/img/front-pages/icons/check.png' %}" alt="3d select solid">
        </div>
        <h5 class="mb-2">API Tayyor</h5>
        <p class="features-icon-description">O'z ma'lumotlaringizni faqat tizim nuktasini o'zgartiring va bir necha soniyada yuklanishini ko'ring.</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center features-icon-box">
        <div class="text-center mb-4">
          <img src="{% static 'assets/img/front-pages/icons/user.png' %}" alt="lifebelt">
        </div>
        <h5 class="mb-2">Aloqa Qo'llab-quvvati</h5>
        <p class="features-icon-description">Kod misollari va murojaatlarning ko'p ma'lumotlari bilan oson kuzatiladigan ma'lumotnoma.</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center features-icon-box">
        <div class="text-center mb-4">
          <img src="{% static 'assets/img/front-pages/icons/keyboard.png' %}" alt="google docs">
        </div>
        <h5 class="mb-2">Yaxshi Dokumentatsiya</h5>
        <p class="features-icon-description">Kod misollari va murojaatlarning ko'p ma'lumotlari bilan oson kuzatiladigan ma'lumotnoma.</p>
      </div>
    </div>
  </div>
</section>
    
    



</div>
    
{% endblock content %}