{% load static %}
{% load sass_tags %}
<div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
    <div class="row">
        <div class="col-xxl-4 col-md-6">
            <div class="project-box">
                <h6>{{ request.user.university.name }}</h6>
                <p>{{ request.user.university.code }}</p>
                <div class="row details">
                    <div class="col-6"><span>Bo'limlar </span></div>
                    <div class="col-6 text-primary" id="departments_count"></div>
                    <div class="col-6"><span>Yo'nalishlar</span></div>
                    <div class="col-6 text-primary" id="specialties_count"></div>
                    <div class="col-6"><span>O'quv rejalar</span></div>
                    <div class="col-6 text-primary" id="curriculums_count"></div>
                    <div class="col-6"><span>Akademik guruhlar</span></div>
                    <div class="col-6 text-primary" id="groups_count"></div>
                </div>
                <div class="project-status mt-4">
                    <div class="row mt-3 mb-3">
                        <div class="btn-group btn-group-pill m-0 p-0" role="group" aria-label="Basic example">
                            <button class="btn btn-pill btn-outline-info btn-air-info btn-xs" type="button"
                                    onclick="fetchData('department')" title="Ma'lumotni yangilash uchun bosing > Department">
                                Department
                            </button>
                            <button class="btn btn-pill btn-outline-info btn-air-info btn-xs" type="button"
                                    onclick="fetchData('specialty')" title="Ma'lumotni yangilash uchun bosing > Specialty">
                                Specialty
                            </button>
                            <button class="btn btn-pill btn-outline-info btn-air-info btn-xs" type="button"
                                    onclick="fetchData('curriculum')" title="Ma'lumotni yangilash uchun bosing > Curriculum">
                                Curriculum
                            </button>
                            <button class="btn btn-pill btn-outline-info btn-air-info btn-xs" type="button"
                                    onclick="fetchData('group')" title="Ma'lumotni yangilash uchun bosing > Academic Group">
                                Academic Group
                            </button>
                        </div>
                    </div>
                    <div class="progress" style="height: 5px">
                        <div class="progress-bar-animated bg-primary progress-bar-striped" role="progressbar"
                             style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>