{% load static %}
{% load sass_tags %}

<div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos">
    <div class="row">
        <div class="col-xl-7">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Ma'lumotlarim</h4>
                    <div class="card-options"><a class="card-options-collapse" href="#"
                                                 data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a
                            class="card-options-remove" href="#" data-bs-toggle="card-remove"><i
                            class="fe fe-x"></i></a></div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Email-Address</label>
                            <input class="form-control" placeholder="your-email@domain.com"
                                   value="{{ employee_data.email }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Foydalanuvchi nomi</label>
                            <input class="form-control" placeholder="Foydalanuvchi nomi"
                                   value="{{ employee_data.username }}" disabled>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">Joriy parol</label>
                                    <input class="form-control" type="password" value="password">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">Yangi parol</label>
                                    <input class="form-control" type="password" value="password">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">Parolni tasdiqlash</label>
                                    <input class="form-control" type="password" value="password">
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Telegram</label>
                            <input class="form-control" placeholder="{{ employee_data.telegram }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Instagram</label>
                            <input class="form-control" placeholder="{{ employee_data.instagram }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Facebook</label>
                            <input class="form-control" placeholder="{{ employee_data.facebook }}">
                        </div>
                        <div class="form-footer">
                            <button class="btn btn-primary btn-block">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Rollar</h4>
                    <div class="card-options"><a class="card-options-collapse" href="#"
                                                 data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a
                            class="card-options-remove" href="#" data-bs-toggle="card-remove"><i
                            class="fe fe-x"></i></a></div>
                </div>
                <div class="card-body">
                    <form id="groupForm"> {% csrf_token %}
                        <div class="col-xl-12">
                            {% for group in employee_data.groups %}
                                <div class="form-check checkbox checkbox-primary mb-0">
                                    <input class="form-check-input" id="checkbox-{{ group.id }}" type="checkbox"
                                           {% if group.selected %}checked{% endif %}>
                                    <label class="form-check-label"
                                           for="checkbox-{{ group.id }}">{{ group.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-footer mb-5">
                            <button class="btn btn-primary btn-block" onclick="saveGroups()">Saqlash</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>