{% load static %}
{% load sass_tags %}
<div class="col-md-12 project-list">
    <div class="card">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="form-group mb-0 me-0"></div>
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalfat"
                        data-whatever="@fat">Yaratish
                </button>
            </div>
        </div>
    </div>
</div>