{% load static %}
{% load sass_tags %}

<div class="col-sm-12 col-lg-12 col-xl-12 mb-3">
    <div class="table-responsive">
        <table class="table table-bordered" id="university-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Universitet nomi</th>
                <th>API url</th>
                <th>API token</th>
                <th>Tasdig'i</th>
            </tr>
            </thead>
            <tbody id="university-table-body">
            <!-- Ma'lumotlar JavaScript orqali kiritiladi -->
            </tbody>
        </table>
    </div>
</div>

<div class="alert alert-light-warning" role="alert">
    <p class="txt-warning">!!! <a class="alert-link txt-warning" href="#">Ogohlantirish </a> Faol Universitet faqat bitta bo'lishi kerak</p>
</div>

