<!DOCTYPE html>
{% load static %}

<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Bizning platformamiz oliy ta'lim talabalariga eng yaxshi imtihon olish tajribasini taqdim etish uchun mo'ljallangan. Ushbu platforma orqali talabalar o'z bilimlarini sinashlari va tayyorgarlik ko'rishlari mumkin">
    <meta name="keywords" content="Har xil turdagi imtihonlar, Foydalanishning qulayligi, Yuqori sifatli savollar va topshiriqlar, Natijalar va Tahlillar, O'qituvchilar uchun qulayliklar">
    <meta name="author" content="Izzatbek Ulkanov">
    <title>Oliy Ta'lim Talabalari uchun Imtihon Platformasi</title>
    <link rel="apple-touch-icon" href="{% static 'assets/images/ico/apple-icon-120.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/ico/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600"
          rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/forms/select/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/charts/apexcharts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/extensions/toastr.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-extended.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/colors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/components.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/themes/dark-layout.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/themes/bordered-layout.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/themes/semi-dark-layout.min.css' %}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/core/menu/menu-types/horizontal-menu.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/plugins/charts/chart-apex.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/plugins/extensions/ext-component-toastr.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/pages/app-invoice-list.min.css' %}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <!-- END: Custom CSS-->
    <link href=" https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.min.css " rel="stylesheet">
    {% block style %}
    {% endblock style %}

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="pace-done horizontal-layout horizontal-menu menu-expanded footer-fixed navbar-floating" data-open="hover"
      data-menu="horizontal-menu" data-col="" cz-shortcut-listen="true">


<!-- BEGIN: Header-->
{% include 'layout/header.html' %}

<!-- END: Header-->


<!-- BEGIN: Main Menu-->
{% include 'layout/menu.html' %}

<!-- END: Main Menu-->

<!-- BEGIN: Content-->
{% block content %}
{% endblock content %}
<!-- END: Content-->


<!-- BEGIN: Customizer-->
{% include 'layout/customizer.html' %}
<!-- End: Customizer-->

<!-- Buynow Button-->
{% include 'layout/buynow.html' %}


<!-- BEGIN: Footer-->
{% include 'layout/footer.html' %}
<!-- END: Footer-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src=" https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/ie7/ie7.min.js "></script>

<!-- BEGIN: Vendor JS-->
<script src="{% static 'assets/vendors/js/vendors.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'assets/vendors/js/ui/jquery.sticky.js' %}"></script>
<script src="{% static 'assets/vendors/js/extensions/toastr.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/extensions/moment.min.js' %}"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{% static 'assets/js/core/app-menu.min.js' %}"></script>
<script src="{% static 'assets/js/core/app.min.js' %}"></script>
<script src="{% static 'assets/js/scripts/customizer.min.js' %}"></script>
    
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
    <script src="{% static 'assets/js/scripts/forms/form-select2.min.js' %}"></script>
<!-- END: Page JS-->

{% block script %}
    {% endblock script %}

<script>
    $(window).on('load', function () {
        if (feather) {
            feather.replace({width: 14, height: 14});
        }
    })
</script>
</body>
<!-- END: Body-->
</html>