{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}
{% load i18n %}

{% block css %}
    <!-- Plugins css start-->

    <!-- Plugins css Ends-->
{% endblock %}

{% block content %}

    {% include "pages/dashboard/components/loader.html" %}

    <div class="page-body">
        <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}

            {% include "pages/dashboard/components/top.html" %}
            {% include "pages/dashboard/components/centre.html" %}
            {% include "pages/dashboard/components/bottom.html" %}

        </div>
    </div>

{% endblock %}

{% block scriptcontent %}



    <script src="{% static 'assets/js/clock.js' %}"></script>
    <script src="{% static 'assets/js/notify/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'assets/js/notify/index.js' %}"></script>
    <script src="{% static 'assets/js/typeahead/handlebars.js' %}"></script>
    <script src="{% static 'assets/js/typeahead/typeahead.bundle.js' %}"></script>
    <script src="{% static 'assets/js/typeahead/typeahead.custom.js' %}"></script>
    <script src="{% static 'assets/js/typeahead-search/handlebars.js' %}"></script>
    <script src="{% static 'assets/js/typeahead-search/typeahead-custom.js' %}"></script>
    <script src="{% static 'assets/js/height-equal.js' %}"></script>
    <script src="{% static 'assets/js/animation/wow/wow.min.js' %}"></script>
    <!-- Plugins JS start-->
    <!-- Plugins JS Ends-->

{% endblock %}
{% block script %}
    <script>new WOW().init();</script>
{% endblock %}