{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/animate.scss' %}">
    <!-- Plugins css Ends-->
{% endblock %}

{% block content %}

    <div class="page-body">
        <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}
            <div class="row project-cards">
                {% include "applications/university/updateData/components/update-list-1.html" %}
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content" id="top-tabContent">
                                {% include "applications/university/updateData/components/update-list-2.html" %}
                                {% include "applications/university/updateData/components/update-list-3.html" %}
                                {% include "applications/university/updateData/components/update-list-4.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scriptcontent %}

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '{% url 'get_universities_data' %}',   // End pointning URL manzili
                type: 'GET',
                success: function (data) {
                    $('#departments_count').text(data.departments_count);
                    $('#specialties_count').text(data.specialties_count);
                    $('#curriculums_count').text(data.curriculums_count);
                    $('#groups_count').text(data.groups_count);
                }
            });
        });

        function fetchData(dataType) {
            // Bu funksiya tugmachalarga tegishli bo'lgan ma'lumotlarni olish uchun ishlatiladi
            // `dataType` parametri tugmachalardan birini belgilaydi
            // Uni qaysi API dan ma'lumotlarni olish uchun foydalanishimiz kerak
            var url = ''; // API URL ni kiritish
            if (dataType === 'department') {
                url = '{% url 'save_departments_from_api' %}'; // Department ma'lumotlari uchun API URL
            } else if (dataType === 'specialty') {
                url = '{% url 'save_specialty_from_api' %}'; // Specialty ma'lumotlari uchun API URL
            } else if (dataType === 'curriculum') {
                url = '{% url 'save_curriculum_from_api' %}'; // Curriculum ma'lumotlari uchun API URL
            } else if (dataType === 'group') {
                url = '{% url 'save_group_from_api' %}'; // Academic Group ma'lumotlari uchun API URL
            }

            // Ajax so'rovini yuborish
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    // Ma'lumotlar muvaffaqiyatli olinganida qanday ishlash kerakligini yozing
                    console.log(response);
                    // Bu qator yerga olingan ma'lumotlarni ko'rsatish uchun kerak bo'ladigan kodni yozing
                },
                error: function (xhr, status, error) {
                    // Ma'lumotlarni olishda xatolik yuz berdi
                    console.error(xhr.responseText);
                }
            });
        }
    </script>
    <!-- Plugins JS start-->
    <script src="{% static 'assets/js/typeahead/handlebars.js' %}"></script>
    <script src="{% static 'assets/js/typeahead/typeahead.bundle.js' %}"></script>
    <script src="{% static 'assets/js/typeahead/typeahead.custom.js' %}"></script>
    <script src="{% static 'assets/js/typeahead-search/handlebars.js' %}"></script>
    <script src="{% static 'assets/js/typeahead-search/typeahead-custom.js' %}"></script>
    <script src="{% static 'assets/js/tooltip-init.js' %}"></script>
    <!-- Plugins JS Ends-->
{% endblock %}