{% extends 'pages/base.html' %}
{% load static %}
{% block style %}
        
{% endblock style %}
{% block content %}
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row"></div>
            <div class="content-body">
                <section id="ApiKeyPage">
                    <!-- create API key -->
                    <div class="card" id="updateUniversityDiv">
                        <div class="card-header pb-0">
                            <h4 class="card-title">API kalitini yarating</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-5 order-md-0 order-1">
                                <div class="card-body">
                                     <button class="btn btn-outline-primary waves-effect w-100" id="updateUniversity" type="button">Oliygohlarni yangilash</button>
                                    <!-- form -->
                                    <form id="createApiForm" onsubmit="return false" novalidate="novalidate"> {% csrf_token %}
                                        <div class="mb-2" id="selectionUpdate">
                                            <label class="form-label" for="select2-basic">Oliygohlarr</label>
                                              <select class="select2 form-select" id="select2-basic">
                                                <option value="AK">Alaska</option>
                                              </select>    
                                           
                                        </div>
                                        <div class="mb-2">
                                            <label for="nameApiKey" class="form-label">API kalitiga nom bering</label>
                                            <input class="form-control" type="text" name="apiKeyName" placeholder="Server kaliti" id="nameApiKey" data-msg="Please enter API key name">
                                        </div>

                                        <button type="submit" class="btn btn-primary w-100 waves-effect waves-float waves-light">
                                            Kalit yaratish
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-7 order-md-1 order-0">
                                <div class="text-center">
                                    <img class="img-fluid text-center" src="{% static 'assets/images/illustration/pricing-Illustration.svg' %}" alt="illustration" width="310">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- api key list -->
                    <div class="card" id="updateUniversityDataDiv">
                        <div class="card-header">
                            <h4 class="card-title">API kalitlari ro'yxati &  Kirish</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                API kaliti oddiy shifrlangan satr bo'lib, u ilovani hech kimsiz aniqlaydi asosiy. Ular foydali
                                umumiy ma'lumotlarga anonim kirish uchun va API so'rovlarini sizning bilan bog'lash uchun ishlatiladi
                                kvota uchun loyiha va
                                hisob-kitob.
                            </p>

                            <div id="universityList" class="row gy-2">
                                
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>

    </div>
{% endblock content %}

{% block script %}
<!-- BEGIN: Page JS-->
    
<!-- HTML and JavaScript for managing API tokens and universities -->
<script>
    function editApiFun(code, token) {
        // Perform other actions as needed

        // Find the parent element where you want to replace the content
        let tokenDiv = document.getElementById('tokenUpdateDiv');
        
        // Construct the HTML for the input element
        let inputHtml = `
            <div class="input-group">
                <input type="text" class="form-control" value="${token}" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary waves-effect" id="button-addon2" type="button">Saqlash</button>
            </div>
        `;
        
        // Replace the content of the tokenDiv with the inputHtml
        tokenDiv.innerHTML = inputHtml;
    }
</script>

<script>
    $(document).ready(function(){
        function showLoading(selector, message) {
            $(selector).block({
                message: `<h1 class="text text-body-heading text-primary mt-3">${message}</h1>`,
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: 'transparent',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                },
                baseZ: 1500,
                overlayCSS: {
                    backgroundColor: '#FFFFFF',
                    opacity: 0.7,
                    cursor: 'wait'
                }
            });
        }

        function hideLoading(selector) {
            $(selector).unblock();
        }

        function handleAjaxError(xhr, message) {
            alert(`${message}: ${xhr.responseText}`);
        }

        function loadUniversities() {
            showLoading('#selectionUpdate', 'Yuklanmoqda...');

            $.ajax({
                url: '{% url "get_universities_data" %}',
                type: 'GET',
                success: function(response) {
                    var select = $('#select2-basic');
                    select.empty();
                    $.each(response, function(index, university) {
                        select.append(new Option(university.name, university.code));
                    });
                    hideLoading('#selectionUpdate');
                },
                error: function(xhr) {
                    hideLoading('#selectionUpdate');
                    handleAjaxError(xhr, 'Oliygohlarni yuklashda xatolik');
                }
            });
        }

        $('#updateUniversity').click(function(){
            var updateBTN = $(this);
            updateBTN.text("Yangilanmoqda");
            showLoading('#updateUniversityDiv', 'Yuklanmoqda...');

            $.ajax({
                url: '{% url "save_university_from_api" %}',
                type: 'GET',
                success: function() {
                    updateBTN.text("Oliygohlarni yangilash");
                    hideLoading('#updateUniversityDiv');
                    loadUniversities();
                },
                error: function(xhr) {
                    updateBTN.text("Oliygohlarni yangilash");
                    hideLoading('#updateUniversityDiv');
                    handleAjaxError(xhr, 'Oliygohlar roʻyxatini yangilashda xatolik');
                }
            });
        });

        loadUniversities();

        $('#createApiForm').submit(function() {
            var universityCode = $('#select2-basic').val();
            var apiToken = $('#nameApiKey').val();

            var data = {
                university_code: universityCode,
                api_token: apiToken
            };

            $.ajax({
                url: '{% url "update_api_token_view" %}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                success: function(response) {
                    alert(response.message);
                },
                error: function(xhr) {
                    handleAjaxError(xhr, 'API tokenini yangilashda xatolik');
                }
            });

            return false; // Prevent default form submission
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function updateStatus(buttonElement) {
            showLoading('#updateUniversityDataDiv', 'Yangilanmoqda...');

            var universityCode = buttonElement.data('university-code');
            var isActive = buttonElement.data('is-active');

            $.ajax({
                url: '{% url "update_university_status" %}',
                type: 'POST',
                data: {
                    university_code: universityCode,
                    is_active: !isActive
                },
                success: function() {
                    var icon = isActive ? 'check' : 'disc';
                    buttonElement.find('i').attr('data-feather', icon);
                    buttonElement.toggleClass('btn-warning btn-success');
                    buttonElement.data('is-active', !isActive);
                    fillUniversityData();
                    hideLoading('#updateUniversityDataDiv');
                },
                error: function(xhr) {
                    hideLoading('#updateUniversityDataDiv');
                    handleAjaxError(xhr, 'Universitet ma\'lumotlarini yangilashda xatolik');
                }
            });
        }

        function fillUniversityData() {
            $.ajax({
                url: '{% url "get_universities_with_api_token" %}',
                type: 'GET',
                success: function(response) {
                    var universityList = $('#universityList');
                    universityList.empty();

                    $.each(response, function(index, university) {
                        var statusClass = university.is_active ? 'btn-success' : 'btn-warning';
                        var statusButtonHtml = `
                            <span>
                                <button class="btn ${statusClass} mt-1 mb-1 updateStatus" 
                                        data-university-code="${university.code}" 
                                        data-is-active="${university.is_active}">
                                    <i data-feather="${university.is_active ? 'check' : 'disc'}"></i>
                                </button>
                            </span>`;
                        
                        var html = `
                            <div class="col-12">
                                <div class="border">
                                    <span class="m-1">
                                        <span><button class="btn btn-primary mt-1 mb-1" onclick="editApiFun('${university.code}', '${university.api_token}')">Tahrirlash</button></span>
                                        <span><button class="btn btn-danger mt-1 mb-1" id="deleteApiBtn">O'chirish</button></span>
                                        ${statusButtonHtml}
                                    </span>
                                    <div class="bg-light-secondary position-relative rounded p-2">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <h4 class="mb-1 me-1">${university.name}</h4>
                                            <span class="badge badge-light-primary mb-1">${university.code}</span>
                                        </div>
                                        <h6 class="d-flex align-items-center fw-bolder" id="tokenUpdateDiv">
                                            <span class="me-50">${university.api_token}</span>
                                            <span><i data-feather='copy' class="cursor-pointer"></i></span>
                                        </h6>
                                        <span><a href="${university.api_url}" target="_blank">${university.api_url}</a></span>
                                    </div>
                                </div>
                            </div>
                        `;
                        universityList.append(html);
                    });

                    $('.updateStatus').on('click', function() {
                        updateStatus($(this));
                    });
                },
                error: function(xhr) {
                    handleAjaxError(xhr, 'Universitet ma\'lumotlarini olishda xatolik');
                }
            });
        }

        fillUniversityData();
    });
</script>
<!-- END: Page JS-->
{% endblock script %}
