{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/photoswipe.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
    <!-- Plugins css Ends-->
{% endblock %}

{% block content %}

    <div class="page-body">
        <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}

            {% include "applications/account/employee/components/detail-1.html" %}
            {% include "applications/account/employee/components/detail-2.html" %}
            {% include "applications/account/employee/components/detail-3.html" %}
            {% include "applications/account/employee/components/detail-4.html" %}
            {% include "applications/account/employee/components/detail-5.html" %}

        </div>
    </div>

{% endblock %}

{% block scriptcontent %}
    <script>
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script>
        $(document).ready(function () {
            // Function to handle button click
            $("#updateEmployeeProfile").click(function () {
                // Send AJAX request to update employee profile
                $.ajax({
                    url: "{% url 'update_employee_profile_from_api' %}",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: csrfToken,
                        employee_id_number: "{{ employee_data.full_id }}"
                    },
                    success: function (response) {
                        console.log("Success response:", response); // Log the response for debugging
                        // Check if the update was successful
                        if (response && response.success) {
                            alert("Employee profile updated successfully!");
                            // Reload the page or update specific elements if needed
                            location.reload(); // Example: Reload the page
                        } else {
                            alert("Failed to update employee profile: " + (response ? response.message : "Unknown error"));
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", error); // Log the error for debugging
                        alert("Failed to update employee profile: " + error);
                    }
                });
            });
        });
    </script>

    <script>
        function saveGroups() {
            var selectedGroups = [];
            document.querySelectorAll('input[type="checkbox"]:checked').forEach(function (checkbox) {
                selectedGroups.push(checkbox.id.split('-')[1]); // Guruh ID sini tanlab olamiz
            });

            // AJAX so'rovi yuborish
            $.ajax({
                url: "{% url 'save_employee_groups' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                    employee_id: {{ employee_data.id }},
                    groups: selectedGroups
                },
                success: function (response) {
                    if (response.success) {
                        alert("Guruhlar saqlandi!");
                    } else {
                        alert("Xatolik yuz berdi: " + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("Xatolik yuz berdi: " + error);
                }
            });
        }
    </script>









    <!-- Plugins JS start-->
    <script src="{% static 'assets/js/photoswipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'assets/js/photoswipe/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static 'assets/js/photoswipe/photoswipe.js' %}"></script>
    <!-- Plugins JS Ends-->
{% endblock %}