<footer class="footer footer-static footer-light">
    <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">MUALLFLIK HUQUQI  &copy; 2024<a
            class="ms-25" href="" target="_blank">Izzatbek Ulkanov</a><span
            class="d-none d-sm-inline-block">, Barcha huquqlar himoyalangan</span></span><span
            class="float-md-end d-none d-md-block">Oson imtihon oluvchi dastur o'rganish va amaliyotda sinov qilishga yordam beradi.<i data-feather="heart"></i></span></p>
</footer>
<button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>